<footer>
    <div class="info">
        <h2>Video Game Inventory</h2>
        <p>This project is a part of
            <a href="https://www.theodinproject.com" target="_blank">The Odin Project</a>.
            Check out the project repository <a href="https://github.com/AmanPrajapati7015/inventory-application" target="_blank">here</a>.
        </p>
        <p>© Aman Prajapati, 2024.</p>
    </div>

    <div class="design">
        <img src="/img/design.svg" alt="" height="100%">
    </div>
</footer>