<% const links = [
    {link:'/games', text:'Games'},
    {link:'/category', text:'Categories'},
    {link:'/', text:'Home'},
    {link:'/category/add-new', text:'New category'},
    {link:'/games/add-new', text:'New game'}
] %>

<nav>
    <div class="content">
        <ul>
            <% links.forEach((link,i)=>{ %>
                <li class='<%= link.link == locals.active ? 'active' : '' %>' >
                    <a href="<%= link.link %>"><%= link.text %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</nav>