.main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    
}
.cart-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: flex-start;
}

.cart-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-card {
    display: flex;
    gap: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #1b1b1b;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.cart-card img {
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.cart-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.cart-summary {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    background: #000000;
    border: 1px solid #f1c40f;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    height: fit-content;
}

.buy-btn {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}

.buy-btn:hover {
    background-color: #1e8449;
}

form.remove-form{
    align-self: end;
}

.remove-btn {
    padding: 10px 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    justify-self: end;
}

.remove-btn:hover {
    background-color: #c0392b;
}


