*{
    margin: 0;
    padding: 0;
}

section.main{
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0 20px;
}

.left{
    flex: 1 1 0;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex: 1 1 0;
}

.categories{
    display: flex;
    gap: 10px;
}

button.category{
    color: #4493f8;
    background-color: #388bfd1a;
    padding: 6px 12px;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

button.category:hover{
    background-color: #4493f8;
    color: white;
}


@media (max-width: 800px) {
    section.main{
        flex-direction: column;
    }
}

.add-to-cart-btn {
    color: #fff;                
    border: none;
    padding: 0.5rem 1.2rem;
    border: 1px solid #a259ff;
    font-size: 1rem;
    border-radius: 0.375rem;  
    cursor: pointer;
    background-color: #a259ff;
    transition: background-color 0.2s ease;
}

.add-to-cart-btn:hover {
    background-color: #222;
}

