*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

nav{
    width: 100vw;
    box-sizing: border-box;
    margin: auto;
    padding: 20px; 
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    background-color: #12121276;
    z-index: 1;
}

nav .content{
    max-width: 1200px;
    margin: auto;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

nav ul li{
    list-style: none;
    padding-bottom: 10px;
}

nav ul li.active{
    border-bottom: 1px solid white;
}


a{
    text-decoration: none;
    color: white
}

footer{
    margin-top: 80px;
}

footer .info{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .info a{
    color: rgb(0, 162, 255);
}

footer .design{
    /* background-color: blue; */
}

footer .design img{
    width: 100%;
    transform : rotate(180deg);
}